/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/* styles.css */

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left ul li {
    margin: 0 10px;
}

.nav-left ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

.nav-logo {
    flex-grow: 1;
    text-align: center;
}

.nav-logo img {
    height: 40px;
}

.nav-right a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border-radius: 4px;
}

/* Additional CSS to move .hero-content lower */

/* Increase the padding-top or add margin-top to move content down */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 120px 20px 60px 20px; /* Adjust padding-top value */
    background-color: #fff;
    color: #333;
}

.hero-content {
    flex: 1;
    max-width: 40%;
    margin-top: 400px; /* Add margin-top to move content lower */
    margin-left: 30px;
}


.hero h1 {
    font-size: 3em;
    margin: 0 0 20px 0;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero-icons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hero-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.hero .btn-primary {
    background-color: #00aaff;
    color: #fff;
}

.hero .btn-secondary {
    background-color: #fff;
    color: #00aaff;
    border: 1px solid #00aaff;
}

.hero-carousel {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 1s ease;
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}
